# Autenticação da Área Interna
STAFF_USER=uniao
STAFF_PASSWORD=
STAFF_SECRET=

# Integração WhatsApp Cloud API (Meta)
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_APP_SECRET=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_ID_FATIMA=
WHATSAPP_PHONE_ID_NACOES=
WHATSAPP_PHONE_ID_ITACOLOMI=
WHATSAPP_AUTO_REPLY=off

# Rastreamento e SEO (Públicos / Opcionais)
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=chgP6OWdJAiM-yv_oPbit7Rf91vAsI7xDUWEuNQG1xk
NEXT_PUBLIC_GTM_CONTAINER_ID=GTM-M8BXJCHB
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-1N8E5G39KF
NEXT_PUBLIC_GOOGLE_ADS_ID=
NEXT_PUBLIC_GOOGLE_ADS_WHATSAPP_LABEL=
NEXT_PUBLIC_GOOGLE_ADS_PHONE_LABEL=
NEXT_PUBLIC_GOOGLE_ADS_DELIVERY_LABEL=
